[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "RJSDMX"]
	path = RJSDMX
	url = https://github.com/amattioc/sdmx
	subdir = RJSDMX
